@model IEnumerable<Nhom7_webTourdulich.Models.Tour>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
<main>
<h2>Danh Sách Tour</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Thêm Mới Tour</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Loại Tour</th>
            <th>Giá Tour</th>
            <th>Ngày Khởi Hành</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var tour in Model)
    {
        <tr>
            <td>@tour.MaTour</td>
            <td>@tour.Ten</td>
            <td>@tour.MaLoaiTourNavigation.TenLoaiTour</td>
            <td>@tour.MaGiaTourNavigation.Gia</td>
            <td>@tour.MaGiaTourNavigation.NgayBatDau</td>
            <td>
                <a href="@Url.Action("Edit", "Tour", new { id = tour.MaTour })" class="btn btn-warning">Cập Nhật</a>
                <a href="@Url.Action("Delete", "Tour", new { id = tour.MaTour })" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</main>